name: example
description: A project that showcases usage of swagger_parser
publish_to: none
environment:
  sdk: ^3.0.0

dependencies:
  dio: ^5.3.2
  freezed_annotation: ^2.4.1
  json_annotation: ^4.8.1
  retrofit: ^4.0.1

dev_dependencies:
  build_runner: ^2.4.6
  carapacik_lints: ^1.5.1
  freezed: ^2.4.2
  json_serializable: ^6.7.1
  retrofit_generator: ^7.0.8
  swagger_parser:
    path:
      ../
