name: example
description: A project that showcases usage of swagger_parser
publish_to: none
environment:
  sdk: '>=2.19.0 <3.0.0'

dependencies:
  dio: ^4.0.6
  flutter:
    sdk: flutter
  freezed_annotation: ^2.2.0
  json_annotation: ^4.8.0
  retrofit: ^3.3.1

dev_dependencies:
  build_runner: ^2.3.3
  carapacik_lints: ^1.3.1
  freezed: ^2.3.2
  json_serializable: ^6.6.1
  retrofit_generator: ^4.2.0
  swagger_parser:
    path:
      ../

flutter:
  uses-material-design: true

swagger_parser:
  schema_path: assets/openapi.json
  output_directory: lib/api
