name: example
description: A project that showcases usage of swagger_parser
publish_to: none
environment:
  sdk: '>=3.0.0 <4.0.0'

dependencies:
  dio: ^5.1.2
  freezed_annotation: ^2.2.0
  json_annotation: ^4.8.1
  retrofit: ^4.0.1

dev_dependencies:
  build_runner: ^2.3.3
  carapacik_lints: ^1.4.0
  freezed: ^2.3.3
  json_serializable: ^6.6.2
  retrofit_generator: ^6.0.0+3
  swagger_parser:
    path:
      ../

swagger_parser:
  schema_path: assets/openapi.json
  output_directory: lib/api
