name: example
description: A project that showcases usage of swagger_parser
publish_to: none
environment:
  sdk: '>=3.7.0 <4.0.0'

dependencies:
  dart_mappable: ^4.5.0
  dio: ^5.8.0+1
  freezed_annotation: ^3.0.0
  json_annotation: ^4.9.0
  retrofit: ^4.4.2

dev_dependencies:
  build_runner: ^2.4.15
  carapacik_lints: ^1.11.1
  dart_mappable_builder: ^4.5.0
  freezed: ^3.0.3
  json_serializable: ^6.9.4
  retrofit_generator: ^9.1.9
  swagger_parser:
    path:
      ../
