swagger_parser:
  # Required. Sets the OpenApi schema path directory for api definition.
  # schema_path: schemas/openapi.json

  # Required. Sets output directory for generated files (Clients and DTOs).
  output_directory: lib/api

  # Optional. Sets the programming language.
  # Current available languages are: dart, kotlin
  language: dart

  # Optional (dart only). Set 'true' to generate data classes using freezed package.
  freezed: false

  # Optional (dart only). Set 'true' to generate root client
  # with interface and all clients instances.
  root_client: true

  # Optional (dart only). Set root client name
  root_client_name: RestClient

  # Optional. Set API name for folder and export file (coming soon).
  # If not specified, the file name is used.
  name: null

  # Optional. Set to 'true' to put the all api in its folder.
  put_in_folder: false

  # Optional. Set 'true' to put all clients in clients folder.
  put_clients_in_folder: false

  # Optional. Set to 'true' to squash all clients in one client.
  squash_clients: false

  # Optional. Set postfix for Client class and file.
  client_postfix: Client

  # Optional. Set 'true' to use only the endpoint path for the method name.
  # Set 'false' to use operationId
  path_method_name: false

  # Optional (dart only). Set 'true' to include toJson() in enums. 
  # If set to false, serialization will use .name instead.
  enums_to_json: false

  # Optional. Set 'true' to set enum prefix from parent component.
  enums_prefix: false

  # Optional. Set 'false' to not put a comment at the beginning of the generated files.
  mark_files_as_generated: true

  # Optional. Set regex replacement rules for the names of the generated classes/enums.
  # All rules are applied in order.
  replacement_rules:
    # Example of rule
    - pattern: "[0-9]+"
      replacement: ""

  # Optional. You can pass a list of schemes. 
  # Each schema inherits the parameters described in swagger_parser,
  # any parameter for any schema can be set manually.
  # Cannot be used at the same time as schema_path.
  schemas:
    - schema_path: schemas/openapi.json
      root_client_name: ApiMicroservice
      freezed: true
      put_in_folder: true
      replacement_rules: []

    - schema_path: schemas/openapi.json
      name: pet_service
      client_postfix: DataSource
      put_clients_in_folder: true
      enums_to_json: true
      put_in_folder: true

    - schema_path: schemas/openapi.json
      output_directory: lib/api/kotlin
      language: kotlin