name: github pages

on:
  push:
    branches:
      - main

jobs:
  pages:
    name: "Deploy on Github Pages"
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./swagger_parser_pages
    steps:
      - uses: actions/checkout@v3.6.0
      - uses: subosito/flutter-action@v2.10.0
        with:
          channel: stable
      - name: Install dependencies
        run: flutter pub get
      - name: Build
        run: flutter build web
      - name: Deploy
        uses: peaceiris/actions-gh-pages@v3.9.3
        with:
          github_token: "${{ secrets.GITHUB_TOKEN }}"
          publish_dir: ./swagger_parser_pages/build/web
