name: tests

on:
  push:
    branches:
      - main
  pull_request:
    types: [opened, reopened, review_requested]

jobs:
  test:
    name: "Tests"
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./swagger_parser
    strategy:
      matrix:
        sdk:
          - stable
    steps:
      - uses: actions/checkout@v5.0.0
      - uses: dart-lang/setup-dart@v1.7.1
        with:
          sdk: "${{ matrix.sdk }}"
      - name: Install dependencies
        run: dart pub get
      - name: Format
        run: dart format --set-exit-if-changed -o none lib/
      - name: Analyze
        run: dart analyze
      - name: Run tests
        run: dart run test
